.pg-details-container {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  /* margin-top: 20px; */
}

.slideshow {
  position: relative;
  width: 600px;
  height: 400px;
}

.image-container {
  position: relative;
  height: 50vh;
  width: 100%;
}

.pg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-container {
  position: absolute;
  top: 110%;
  left: 35%;
  transform: translateY(-50%);
  border: 1px solid black;
}

.border {
  border: 1px solid black;
}

.slideshow-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.pg-description {
  /* margin-left: 40px; */
  width: 70%;
}

.address {
  font-weight: 400;

  font-size: 18px;
  margin-bottom: 10px;
}

.grey {
  color: grey;
}

.price {
  margin-top: 15px;
}

.pg_type {
  margin: 5px;
  font-size: 18px;
}

.fs-18 {
  font-size: 18px;
}

.price-value {
  margin-left: 15px;
}

.pg-name {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #0f2a8bc0;
}

.pg-info p {
  margin-bottom: 5px;
}

.booking-buttons {
  margin-top: 20px;
}

.booking-button {
  background-color: #2549d3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.amenities-section {
  margin-top: 20px;
}

.amenities-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.amenities-section ul {
  list-style-type: none;
  padding: 0;
}

.amenities-section li {
  margin-bottom: 5px;
}

.pg-description-text {
  margin-top: 20px;
}

.pg-description-text h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .reviews-section {
    margin-top: 20px;
}

.review-heading{
    text-align: center;
 
    color: #2549d3;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom:20px ;
}

.review {
    margin-bottom: 10px;
}
textarea{
    width:80vw;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
    min-height: 10vh;
}

.review p {
    margin-bottom: 5px;
    font-size: 1rem;
} */

.carousel-container {
  text-align: "center";
  padding: "0 20px";
  width: 600px;
  height: 500px;
}

.sharing-heading {
  font-size: 1.7rem;
  font-weight: bold;
  color: #0f2a8bc0;
  text-align: center;
}

.image-details-section {
  padding: 0 100px 0 100px;
  background-color: #e6ebf2c3;
  margin-top: 0px;
}
.sharing-container {
  padding: 0 100px 0 100px;
  /* background-color: #e6ebf2c3; */
}

.pgPagehr {
  margin: 0px 0px 0px 0px;
}

.fas {
  font-family: "Font Awesome 5 Free";
}

.filled-star {
  color: gold; /* or any color you prefer for filled stars */
}

.empty-star {
  color: black; /* or any color you prefer for empty stars */
}

/* Styles for the partially filled star */
.partially-filled-star {
  position: relative;
  display: inline-block;
}

/* Styles for the clipped portion of the partially filled star */
.star-clip-mask {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.read-more-btn {
  padding: 0;
  background-color: #e6ebf2c3;
  border: none;
  color: #5227ef;
  /* padding: 8px 16px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  /* background-color: #ddd; */
}
