/* aboutus.css */

.services-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue_clr {
  color: #2549d3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.services-description {
  flex: 1;
  margin-right: 20px;
}

.services-description p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: #888888;
  text-align: justify;
}

.services-image {
  flex: 1;
  text-align: center;
}

.services-image img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services-text {
  font-size: 1rem;
  color: #888888;
}

.services-heading {
  color: #2549d3;
  margin: 0;
}
.services_title {
  font-weight: 600 !important;
}
