/* .profile-container {
  padding: 30px 40px 10px 40px;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
} */
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
  border-radius: 100px;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 0 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

.profile-card {
  padding: 0px 20px;
  height: 38rem;
  box-shadow: 0 0 5px 2px #e4e2e2;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  background-color: #f5f5f6c3;
}
.sidebar {
  margin: 20px;
}

.input-boxes {
  padding: 0px 40px;
}

.titles {
  padding: 20px 40px;
  font-size: 2rem;
}

.about-text {
  padding: 0 40px;
}

.avatar {
  padding-top: 40px;
}

.btns {
  margin-left: 30px;
}

.about-input {
  width: 220px;
  border: 0.5px solid rgb(234, 229, 229);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.active-link {
  font-size: 18px;
  color: #0f2a8bc0;
  text-shadow: 1px 1px 2px #d1cece;
}

.sidebar-heading {
  padding: 10px 10px 0 10px;
  color: #0f2a8bc0;
  font-weight: 500;
  font-size: 20px;
}

.personal {
  margin: 20px 0;
  padding: 0;
}

.profile-page {
  height: 88%;
}

.update-password {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0 40px;
  width: 70%;
}
