.border-hero {
  border-radius: 0 35% 0 35%;
}

.w_20 {
  width: 20px;
}

.heading1 {
  color: #2549d3;

  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  /* font-size: 64px; */
  padding: 0;
}

.main-search {
  height: 55px !important;
}

.searchBtn {
  padding: 8px 0;
  border: none;
  background: #2549d3;
  border-radius: 10px;
  color: #ffffff !important;
}

.accomodation-card:hover {
  box-shadow: 0px 6px 10px rgba(74, 74, 235, 0.5);
  cursor: pointer;
}

.accomodation-arrow:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(81, 90, 211, 0.5);
}
