/* aboutus.css */

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue_clr {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-description {
  flex: 1;
  margin-right: 20px;
}

.about-description p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: #888888;
  text-align: justify;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aboutus-text {
  font-size: 1rem;
  color: #888888;
}
.about_us_title {
  font-weight: 600 !important;
}
