.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #1e90ff;
}

/* .signup-form {
  background-color: #fff;
  padding: 30px;
  width: 50vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
} */

.form-section {
  background-color: #fff;
  padding: 0px;
  width: 50%;
  height: 83vh;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  float: right;
  background: linear-gradient(135deg, #ecedee 0%, #eff0f1 40%, #f1f2f4 100%);
  background: linear-gradient(135deg, #c8d9f3 0%, #eaf1f5 50%, #c8d9f3 100%);
  /* border-radius: 3rem; */
  border-radius: 0 35% 0 35%;
  z-index: 1;
  position: absolute;
  top: 115px;
  right: 400px;
}
.img-section {
  display: inline;
  /* width: 50px; */
}

.image-sign {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: inline;
  /* border-radius: 50rem; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* margin-top: 80px; */
  /* vertical-align: middle; */
}

.form-section h2 {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-message {
  color: red;
}
